<!DOCTYPE html>
<html class="no-js" lang="pt-BR" xml:lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
      // to identify if javascript is active
      var tagHtml = document.getElementsByTagName("html")[0];
          tagHtml.className = tagHtml.className.replace('no-js', 'js');
    </script>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ng-view></ng-view>

    <script type="text/ng-template" id="/todos.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="todo in todos | filter: search">
          <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>

          <input ng-show="editing[$index]" type="text" ng-model="todo.name">
          <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>
        </li>
      </ul>
      New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
    </script>
    <script type="text/ng-template" id="/todoDetails.html">
      <h1>{{ todo.name }}</h1>
      completed: <input type="checkbox" ng-model="todo.completed"><br>
      note: <textarea ng-model="todo.note"></textarea><br><br>

      <button ng-click="update()">Update</button>
      <button ng-click="remove()">Remove</button>
      <a href="/">Cancel</a>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
